.item-list_index{
  .export-button{
    margin:20px 0;
  }
  table{
    margin:20px 0;
    border-collapse: collapse;
    tr{
      th{
        border: solid 1px;
        padding: 0.5em;
      }
    }
  }
}
