= render partial:'shared/header'
.categories-show
  .item-box
    .item-box__title
      ="#{@category.name}の商品一覧"
    .item-box__list
      =render partial:'items/item-card',collection:@items,as: :item
    .clearfix
= render partial:'shared/footer'
